.container * {
    /* border: 2px solid red; */
 }
 .container{
    /* height: 100vh; */
    /* border: 2px solid red; */
    padding: 23px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1%;
    grid-template-rows: 100%;
    /* background-color: green; */
 }
 .container > *{
    height: 100%;
    border: 2px solid black;
    border-radius: 10px;
    }
.left{
    border: 2px solid black;
    display: grid;
    grid-template-rows: 9fr 1fr;
    /* background-color: #fff; */
    
}
.left-up{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-down{
    display: grid;
    grid-template-columns: 1fr 1fr 4fr 1fr;
    border-top: 2px solid black;

}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #fff;   */
    /* height: 100%; */
}
.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-container:nth-child(3) {
    grid-column: 4 / 5;
  }
.ctrl-btn{
    margin: 13px;
    padding: 5px;
    font-size: 3em;
       
}
.ctrl-btn:hover{
    background-color: violet;
    border-radius: 15px;
}
